.jumbotron {
	background: #fff;
	h1, h2 {
		font-family: Roboto, cursive;
	}
	p {
		font-family: Lora,sans-serif;
		margin: 0;
	}
	span {
		font-family: Lora,sans-serif;
	}
}

.id {
	padding-bottom: 10px;
}

.container {
	text-align: center;
}