/*==============================
=            NAVBAR            =
==============================*/

@media (max-width: 640px) {
	#bonus-isles {
		margin-left: -30px !important;
	}
}

@media (max-width: 769px) {
	.language-picker {
		display: none;
	}

	#settings {
		display: block !important;
	}
}

.navbar-nav {
	margin-top: -1px !important; // remove margin for mobile
	overflow-y: hidden;
	li a{
		font-size: 24px;
		font-family: 'Squada One', cursive;
	}
}
.container {
	max-width: 900px !important;
	margin: auto;
}

#settings {
	display: none;
}


.jumbotron {
	background: #fff !important;
	margin-top: -20px;
	padding: 0 !important;
	h1, h2 {
		font-family: 'Squada One', cursive;
	}
	p {
		font-family: Lora,sans-serif;
		margin: 0;
	}
	span {
		font-family: Lora,sans-serif;
	}
	input[type="checkbox"] {
		margin-left: 20px;
		margin-right: 5px;
	}
}

.id {
	margin-top: 15px;
}

.container {
	text-align: center;
}

.next_week {
	margin-top: 50px;
}

.see-more {
	margin-top: 20px;
}

.input-id {
	width: 50px;
}

.navbar-nav.nav-justified > li {
	float: none;
}

.turtle-day {
	p {
		&:first-child{
			background-color: #eee;
			margin-bottom: 0;
		}
		span {
		margin-right:40px;
		}
	}
}

.turtle-global, .turtle-jpn {
	margin-top: 20px;
}

.turtle-jpn {
	:nth-child(odd) {
		div p {
			background-color: #eee;
		}
	}
	:nth-child(2n) {
		div p {
			margin-bottom: 15px !important;
		}
	}
}
.turtle-day-jpn {
	p {
		margin-bottom: 0 !important;
	}
	p span{
	margin-right:40px;
	}
}

.game-version {
	margin-top: -10px;
	margin-bottom: -10px;
}

table {
	margin-top: 20px !important;
	max-width: 600px !important;
	margin: auto;
	th {
		text-align: center;
	}
}

.bb-hours {
	margin-bottom: -5px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }