<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Turtle Time Calc</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto|Lora' rel='stylesheet' type='text/css'>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-62547536-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>

	<body>
		<div class="jumbotron">
			<div class="container" ng-app="app">
				<h1>Turtle Time Calculator</h1>
				<div ng-controller="TimeCtrl as time">
					<div class="id">
						<span>6th ID digit: </span>
						<input type="number" min="0" max="9" ng-model="time.my_id" class="input-id" select-on-click>
						<input type="checkbox" name="militaryTime" ng-model="time.military"> 24hr format
					</div>
					<p>Your time zone: {{time.timezone}}</p>
					<turtle-day 
						military='time.military'
						index="{{$index}}"
						turtle="time.turtle"
						print-time="time.printTime"
						my-id='time.my_id'
						my-time='time.my_time'
						ng-repeat="t in time.range(3) track by $index"
						ng-class="{'hidden': !$first && !time.see_more}"
						>
					</turtle-day>
					<button type="button" class="btn btn-info see-more" ng-click="time.see_more=true" ng-class="{'hidden': time.see_more}">See More</button>
				</div>
				<h2>FAQ:</h2>
				<h3>Will you keep updating it?</h3>
				<p>The site <strong>automatically updates</strong> itself.</p>
				<h3>How?</h3>
				<p>Source code <a href="https://github.com/cyung/optc">here</a>.</p>

			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="js/moment.min.js"></script>
		<script src="js/moment-timezone-with-data-2010-2020.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/turtleDirective.js"></script>
	</body>

</html>
