<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Turtle Time Calc</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto|Lora' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div class="jumbotron">
			<div class="container" ng-app="app">
				<h1>Turtle Time Calculator</h1>
				<div ng-controller="TimeCtrl as time">
					<div class="id">
						<span>6th ID digit: </span>
						<input type="number" min="0" max="9" ng-model="id">
						<input type="checkbox" name="militaryTime" ng-model="time.military"> 24hr format
					</div>
					<p>Your time zone: {{time.timezone}}</p>
					<h2>{{time.getDate(false)}}</h2>
					<p>First time {{time.turtle(id, false, false)}}</p>
					<p>Second time {{time.turtle(id, true, false)}}</p>
					<h2 class="next_week">{{time.getDate(true)}}</h2>
					<p>First time {{time.turtle(id, false, true)}}</p>
					<p>Second time {{time.turtle(id, true, true)}}</p>
					
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="js/moment.min.js"></script>
		<script src="js/moment-timezone-with-data-2010-2020.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
		<script src="js/app.js"></script>
	</body>

</html>
